
.TitleStatusContainer {
    display: flex;
    justify-content: flex-start;
}

.taskContainer {
    cursor: pointer;
    text-align: left;
    border-bottom: solid black 1px;
    width: 100%;
    margin-left: 3px;
}

.taskandEditContainer {
    display: flex;
     margin-left: auto;
     margin-right: auto; 
     width: 50%;
}

p.description, p.date{
    font-size: .75rem;

}